
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
  :root{
 --Pale-blue: hsl(225, 100%, 94%);
 --Bright-blue: hsl(245, 75%, 52%);
 --Very-pale-blue: hsl(225, 100%, 98%);
 --Desaturated-blue: hsl(224, 23%, 55%);
 --Dark-blue: hsl(223, 47%, 23%);
  } 

  body{
    text-align: center;
    background-image: url(./images/pattern-background-desktop.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: var(--Pale-blue);
    color: var(--Desaturated-blue);
    font-family:"Red Hat Display", serif ;
    background-size: contain;
    padding-inline: 0.5rem;
    }
  
    #Avatar {
     min-height: 100dvh;
     justify-items: center;
     align-content: center;
     }

     .card-body{
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-radius: 25px;
     box-shadow: 0 12px 10px 0 var(--Desaturated-blue); 
     max-width: 450px;
     width: 100%; 
     
     }

     .flex { 
      height: 750px;
     }

   img {
    border-radius: 25px 25px 0 0;
    max-width: 450px;
    width: 100%;
   }

   h2 {
    color:var(--Dark-blue) ;
    font-weight: 900;
    margin: 50px 0 20px 0;
    font-size: 30px;
  }

  .info {
    line-height: 1.5;
    margin: 0 50px;
    font-weight: 700;
    font-size: 18px;
    }

  h4 {
    color:var(--Dark-blue) ;
     /* padding-right: 60px;  */
    font-weight: 900;
    font-size:18px ;
   }

   .avt-box {
    background-color:var(--Very-pale-blue) ;
    border-radius: 12px;
    margin: 20px 0 30px 0;
    display: flex;
    align-items: center;
   flex-wrap: wrap;
    min-width: 350px;
   width: 80%;
    justify-content: center; 
    
   } 

   .avt-box-left{
    display: flex;
    align-items: center;
     flex-grow: 0;
     flex-basis: ;
     /* justify-content: center;    */
     /* padding-right: 100px; */
   } 
    .avt-box img  {
     /* padding-right: 100px; */
     
    }
    .avt-box-plan {
      /* padding-right: 90px; */
    }

   .dollar {
    font-weight: 700;
    /* padding-right: 90px; */
    
    font-size: 15px;
   }

   .avt-box a  {
    font-weight: 900;
    color: var(--Bright-blue);
    font-size: 15px;
   }

    .payment a {
    display: block;
    text-decoration: none;
    background-color: var(--Bright-blue) ;
    color: white;
    padding: 18px 0 ;
    box-shadow: 0 16px 18px var(--Pale-blue) ;
    border-radius: 12px; 
    font-weight: 700;
    min-width: 350px;
    width: 100%;
  }

   .Cancel a {
   color: var(--Desaturated-blue);
   text-decoration:none ;
    font-weight: 900;  
     
    }
  .payment a:hover {
    background-color:hsl(245, 83%, 68%);
  }
  .Cancel a:hover {
    color: var(--Dark-blue);
  }
  .avt-box a:hover {
    color:  hsl(245, 83%, 68%);
    text-decoration: none;
  }
